/*===============================
        Owl Carousel
===============================*/

.item {
    width: 100%;
    line-height: 490px;
    text-align: center;
    margin: 0;
}

.menu{
    
}